In [1]:
# Q1 . Find the number of times 4 appears in the tuple:

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
count_4 = tuplex.count(4)
print(count_4)

3

In [2]:
# Q2. Convert a list to a tuple:

my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
# Q3. Calculate the sum of the numbers in a given tuple:

my_tuple = (1, 2, 3, 4, 5)
total = sum(my_tuple)
print(total)

15

In [4]:
# Q3. Iterate through the given tuples and display employee details:

employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
employees = [employee1, employee2, employee3]

print("Employee Records:")
for employee in employees:
    print(f"Name: {employee[0]}")
    print(f"Employee ID: {employee[1]}")
    print(f"Department: {employee[2]}")
    print(f"Salary: ${employee[3]}")
    print()

Employee Records:
Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: $60000

Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: $55000

Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: $75000